@media (max-width: 991px) {
    .carousel {
        div.tns-nav {
            display: none;
        }
    }
    .container {
        max-width: 85%;
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 14px;
            span {
                font-size: 16px;
            }
        }
        &__contacts {
            font-size: 16px;
            .button {
                width: 145px;
                height: 30px;
            }
        }
    }
    .title {
        font-size: 27px;
    }
    .advantages {
        padding: 60px 0 65px 0;
        &__icons {
            flex-direction: column;
            height: 700px;
        }
        &__text {
            margin: 0 auto;
            margin-top: 20px;
        }
        &__icon {
            margin-top: 35px;
        }
    }
    .promo {
        padding: 20px 0 80px 0;
        &__header {
            font-size: 40px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icons {
            margin-top: 50px;
        }
        &__link {
            font-size: 15px;
        }
    }
    .button {
        &_main {
            margin-top: 60px;
            width: 292px;
            height: 51px;
        }
    }
    .carousel__inner {
        width: 600px;
        img {
            width: 500px;
        }
    }
    .feedback {
        &__descr {
            width: 500px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        &__official {
            font-size: 10px;
        }
        &__phone {
            font-size: 16px;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .carousel__inner {
        width: 500px;
        img {
            width: 400px;
        }
    }
    .carousel {
        button.prev {
            left: -10px;
        }
        button.next {
            right: -10px;
        }
        div.tns-nav {
            display: none;
        }
    }
    .catalog {
        &__tab {
            div {
                font-size: 14px;
            }
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .feedback {
        &__descr {
            width: 300px;
        }
        &__content {
            margin-left: 40px;
        }
    }
}
@media (max-width: 575px) {
    .header {
        display: block;
        &__official {
           display: none;
        }
        &__contacts {
            display: block;
            margin-top: 10px;
            margin-right: auto;
        }
    }
    .promo {
        padding-bottom: 50px;
        &__header {
            font-size: 35px;
            text-align: left;
        }
        &__wrapper {
            margin-top: 40px;
            display: block;
        }
        &__subheader {
            font-size: 13px;
            text-align: left;
        }
        &__icons {
            width: 260px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;       
/*             margin: 50px auto; */
        }
        &_icon {
            margin-top: 10px;
        }
    }
    .button_main {
        width: 260px;
    }
    }
    .advantages {
        padding-top: 40px;

    }
    .carousel__inner {
        width: 350px;
        img {
            width: 250px;
        }
    }
    .next, .prev {
        display: none;
    }
    .catalog {
        &__tabs {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .feedback {
        &__item {
            display: block;
            flex-direction: column;
            align-items: center;
            img {
                display: block;
                margin: 0 auto;
            }
        &__content {
            margin-left: 0;
        }
        }
        &__subtitle {
            margin-top: 10px;
            text-align: center;
        }
        &__descr {
            width: 300px;
        }
        &__subtitle-descr {
            text-align: center;
        }
    .footer {
        &__info {
            width: 300px;
            padding: 50px 0 0 0;
        }
    }
}